<nav class="main-nav">

  <div class="wrapper">

    <a class="logo" href="//seattletimes.com">
      <img src="assets/seattletimes.svg" alt="The Seattle Times">
    </a>

    <a href="#family" class="large story-link">CUBA REDISCOVERED</a>

    <span class="no-mobile">
      <a href="#family" class="story-link">Personal journey</a>
      <a href="#technology" class="story-link">Google meets Fidel</a>
      <a href="#health" class="story-link">Healthcare lessons</a>
    </span>

    <span class="mobile">
      <a href="#family" class="story-link">Part 1</a>
      <a href="#technology" class="story-link">Part 2</a>
      <a href="#health" class="story-link">Part 3</a>
    </span>
    
    <a class="share top" aria-label="Share"></a>

  </div>

</nav>