@import "seattletimes";

@red: #D92344;
@yellow: #f2c43a;
@fancy: "Arvo", @df-sans;

body {
  color: #222;
  font-size: 19px;
  line-height: 1.5em;
  max-width: 1400px;
  margin: auto;
}

.story-link {
  font-family: @fancy;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  padding: 0 8px;
  vertical-align: top;
  margin-top: 20px;
}

.header {
  margin-top: 30px;
  .display-flex();
  .align-items(center);
  .img-title {
    .flex(2);

    img {
      width: 100%;
    }
  }
  .chatter {
    .flex(3);
    font-family: @df-sans;
    font-style: italic;
    padding-left: 30px;
  }
}

.hed {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  line-height: 1.2em;
  padding: 20px 0;
}

section {
  max-width: 1020px;
  margin: auto;

  p {
    width: 66%;
  }
  aside {
    width: 32%;
    float: right;

    p {
      width: 100%;
      font-family: @df-sans;
      font-size: 18px;
      color: @df-dark-gray;
      line-height: 1.5em;
    }
  }
}

.divider {
  background: @red;
  margin-top: 40px;
  height: 20px;
  width: 130px;
}

.byline {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5em;
}

.dropcap {
  float: left;
  line-height: 1em;
  margin-right: 8px;
  color: white;
  background: @red;
  padding: 10px 8px 0px 10px;
  font-size: 78px;
}

.caption {
  font-style: italic;
  font-size: 15px;
  color: @df-middle-gray;
  line-height: 1.5em;
}

.subhed {
  font-family: @fancy;
  padding: 25px 0;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  font-size: 26px;
}

.contact {
  max-width: 670px;
  font-weight: bold;
  font-style: italic;
}

.gallery {
  border-top: 1px solid @yellow;
  border-bottom: 1px solid @yellow;
  text-align: center;
  position: relative;

  .gallery-img {
    display: none;
    &.active {
      display: block;
    }
  }

  .arrow {
    position: absolute;
    top: 50%;
    font-size: 40px;
    cursor: pointer;
    &:hover {
      color: @red;
    }

    &.prev {
      left: 10px;
    }
    &.next {
      right: 10px;
    }
  }
  .chatter {
    font-family: @df-sans;
    font-style: italic;
  }

  img {
    margin: auto;
    max-height: 800px;
  }
  .caption {
    text-align: left;
    padding: 10px 20px 20px 20px;
  }
}

.about-journalists {
  border-top: 1px solid @yellow;
  font-family: @df-sans;
  font-size: 16px;
  line-height: 1.5em;
  .inner {
    .display-flex();
  }
  .author {
    .flex(1);
    .mug {
      float: left;
      margin-right: 10px;
      height: 200px;
    }
  }
}

.sidebar-hed {
  font-family: @fancy;
  font-size: 26px;
}