@import "seattletimes";

@red: #D92344;

body {
  color: #222;
  font-size: 19px;
  line-height: 1.5em;
  max-width: 1400px;
  margin: auto;
}

.story-link {
  font-family: "Arvo", @df-sans;
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  padding: 0 5px;
  vertical-align: top;
  margin-top: 20px;
}

.img-title {
  width: 40%;
  margin: auto;
  margin-top: -76px;

  img {
    width: 100%;
  }
}

.hed {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  line-height: 1.2em;
  padding: 20px 0;
}

section {
  max-width: 1020px;
  margin: auto;

  p {
    width: 66%;
  }
  aside {
    width: 32%;
    float: right;

    p {
      width: 100%;
      font-family: @df-sans;
      font-size: 18px;
      color: @df-dark-gray;
      line-height: 1.5em;
    }
    .about {
      font-family: Arvo, @df-serif;
      font-size: 26px;
    }
  }
}

.chatter {
  font-family: @df-sans;
  font-style: italic;
  text-align: center;
}

.divider {
  background: @red;
  margin-top: 40px;
  height: 20px;
  width: 130px;
}

.byline {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5em;
}

.dropcap {
  float: left;
  line-height: 1em;
  margin-right: 8px;
  color: white;
  background: @red;
  padding: 10px 8px 0px 10px;
  font-size: 78px;
}

.caption {
  font-style: italic;
  font-size: 15px;
  color: @df-middle-gray;
  line-height: 1.5em;
}

.subhed {
  font-family: "Arvo", @df-serif;
  padding: 25px 0;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  font-size: 26px;
}

.contact {
  max-width: 670px;
  margin: auto;
  font-weight: bold;
  font-style: italic;
}

.gallery {
  img {
    display: none;

    &.shown {
      display: block;
    }
  }
}