@import "seattletimes";

@red: #D92344;

body {
  color: #222;
  font-size: 19px;
  line-height: 1.5em;
  max-width: 1400px;
  margin: auto;
}

.img-title {
  width: 40%;
  margin: auto;
  margin-top: -76px;

  img {
    width: 100%;
  }
}

.hed {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  line-height: 1.2em;
  padding: 20px 0;
}

section.narrow {
  max-width: 670px;
  margin: auto;
}

.chatter {
  font-family: @df-sans;
  font-style: italic;
  text-align: center;
}

.divider {
  background: @red;
  height: 20px;
  width: 130px;
  margin: 40px auto;
}

.byline {
  font-weight: bold;
  text-align: center;
}

.dropcap {
  float: left;
  line-height: 1em;
  margin-right: 8px;
  color: white;
  background: @red;
  padding: 10px 8px 0px 10px;
  font-size: 78px;
}

.caption {
  max-width: 670px;
  margin: auto;
  font-style: italic;
  font-size: 15px;
  color: @df-middle-gray;
  padding-top: 10px;
  line-height: 1.5em;
}

.subhed {
  font-family: "Arvo", @df-serif;
  padding: 25px 0;
  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
  font-size: 36px;
  text-align: center;
}

.contact {
  max-width: 670px;
  margin: auto;
  font-weight: bold;
  font-style: italic;
}