<section>
  <p>LÁZARO LÓPEZ, Cuba —

  <aside class="about-series">
    <div class="sidebar-hed">About this series</div>

    <p>Reporting for this story was made possible through a grant from the Seattle International Foundation.
  </aside>

  <p><span class="dropcap">I</span>’ve come a long way to see the spot where General Ángel del Castillo Agramonte, a hero of Cuba’s long struggle for independence from Spain, made his last stand.


  <aside class="about-series mobile">
    <div class="sidebar-hed">About this series</div>

    <p>Reporting for this story was made possible through a grant from the Seattle International Foundation.
  </aside>

  <p>That man, whom historians described as a “tempest on horseback,” was my grandmother’s grandfather, a U.S.-educated Cuban aristocrat who took up arms against the mother country.
  <p>Despite getting killed here in 1869, the general still casts a long shadow in my family. His portrait hangs in my Redmond living room, where my 5-year-old son calls him <em>Abuelito</em>.
  <p>To a family that cherishes Cuban origins going back to the days of Columbus, <em>Abuelito</em> stands for an island that had grown fairly rich and sophisticated as the hub of Spain’s New World empire. It fiercely fought for freedom while remaining tightly linked to the U.S. and the wider Western world.
    
  <div class="aspect-outer">
    <div class="aspect-inner">
      <iframe src="//players.brightcove.net/1509317113/default_default/index.html?videoId=5125409078001" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
    </div>
  </div>

  <p>That idea of Cuba was buried under Fidel Castro’s communist revolution. Hundreds of thousands, including my father and grandmother, fled the island. My uncle stayed, first to fight the revolution, then to embrace it.
  <p>In time, stifling controls and a long standoff with the U.S. condemned to economic stagnation what had been a modern country, albeit one full of disparities.
  <p>That conflict, as well as the state’s grip on the economy, has finally started to recede.</p>

  <img src="./assets/mainbar/Cuba_Mainbar_InlineOptions_009.jpg" alt="">

    <p class="caption">In the heat of the afternoon, Cubans build a house in the countryside in Ciego de Ávila province.</p>

    <p>Last March, President Obama visited the island to bury what he called “the last remnant of the Cold War in the Americas,” easing U.S. travel and trade restrictions on the island and re-establishing diplomatic relations the previous year.
    <p>I had visited Cuba once, 15 years ago, and found the home of my ancestors a depressing ruin. This time, drawn by the specter of change, I’ve returned to get a glimpse of what kind of Cuba will emerge as it reconciles with the U.S.
    <p>Rummaging through the ashes of old family stories, I found a nation that’s slowly regaining some of its old capitalist bustle, even as it struggles with deepening inequality and bureaucratic rigidity.
    <p>The trip to Lázaro López from Havana, Cuba’s capital, takes four hours — first on a sparsely trafficked highway cutting through vast uninhabited stretches, then on the two-lane Central Road, where cars rented by tourists pile up behind ox carts.
    <p>A few dusty miles off the main road near the town of Ciego de Ávila there’s a giant Cuban flag marking a monument in the lush <em>manigua</em> where a Spanish stronghold once stood.
    <p>At age 35, <em>Abuelito</em> died assaulting that fort. His body, hurriedly buried by his retreating troops, wasn’t found until decades later, when a local boy digging up a root ended up pulling up the fallen general’s sword instead.
    <p>A man-sized obelisk pays homage to my ancestor. As far as I know, I’m the first among <em>Abuelito</em>’s descendants to visit since the revolution.
    <p>One thing strikes me: how well-kept this remote monument is, shaded by a red-flowered tree and flanked by manicured shrubbery.</p>

    <aside class="caption">Seattle Times reporter Ángel González visits a memorial for his ancestor Ángel del Castillo Agramonte in Lázaro López, Ciego de Ávila province, Cuba. He was a wealthy planter in the late 1800s who rose up against Spain for Cuban independence, and was known for his recklessness.</aside>

    <p><img src="./assets/mainbar/Cuba_Mainbar_InlineOptions_003.jpg">

  <p>Every Sept. 9, the anniversary of <em>Abuelito</em>’s death, local schoolchildren visit with songs and poems. On a bulletin board near the guardhouse one of them scribbled my ancestor’s final taunt to the Spaniards: “Come see how a Cuban general fights.”
  <p>It’s next to a phrase by <em>comandante</em> Fidel Castro, praising those who study history. I guess I’ve found some common ground with the revolution.

  <div class="divider"></div>
  <div class="subhed">Family dispute</div>

  <p>Cuba’s fight for independence from Spain was a family affair, in many cases literally, pitting Cubans against Iberian relatives.
  <p>Cuba’s nearly 60-year struggle with the U.S., a side effect of the Cold War that lingers like radioactive residue on both sides of the Florida Straits, is also for many a family dispute. Some exiles support a strict U.S. embargo on trade and tourism. Havana still lambastes the so-called “Miami mafia.”
  <p>But reconciliation is well under way, as evident in the 60 percent jump in arriving U.S. passengers seen in June. There will be many more soon, as U.S. airlines have begun to fly directly to Cuba.

  <div class="sidestory">
    <div class="read-more"><i class="caret fa fa-caret-right" aria-hidden="true"></i> More about flights</div>
    <%= t.include("./_flights.html") %>
  </div>

  <p>It takes an hour for my luggage to clear the carousel in Havana’s teeming airport — a sign that the rekindling risks overwhelming Cubans while frustrating Americans.
  <p>Past midnight, I get to walk along the city’s famous seawall. Something strikes me as different from my previous visit: The lights are on. There’s traffic. Not only old clunkers from the late capitalist era, but new Korean and French cars.

  <div class="sidestory">
    <div class="read-more"><i class="caret fa fa-caret-right" aria-hidden="true"></i> More about cars</div>
    <%= t.include("./_cars.html") %>
  </div>

  <p>In 2001, when I last came here, Cuba bore the living scars of the so-called Special Period in Time of Peace, actually a period of warlike scarcity that followed the end of a generous Soviet subsidy a decade before.
  <p>Back then, Cubans were barred from entering hotels even as they had to hustle for tourism’s crumbs. Few dared speak freely.

  <%= t.include("_galleryTemplate.html", {
    title: "Havana Gallery",
    chatter: "Chatter",
    keyword: "havana"
  }) %>

  <p>Today some of Havana’s glories don’t look so faded. Large parts of Old Havana, where I once saw streets that could have belonged in a World War II movie, are now a stunning re-creation of its heyday. Fancy restaurants, art galleries and sidewalk cafés populate grand European buildings restored over the last few years. There’s even a microbrewery in the Plaza Vieja, a 16th-century square.
  <p><em>Habaneros</em>, 15 years ago survivors of an economic apocalypse, seem more confident. Since the middle of the last decade, pirated foreign shows shared on USB drives allow many to follow global trends. The Obama administration’s loosening of restrictions on Cuba-bound family remittances means more money on the street.
  <p>“There are still problems, such as scarcity,” says Modesto Phillip, a 55-year-old elevator technician working on a project to turn a Belle Époque shopping gallery into a luxury hotel. But, he adds, “the country has improved a lot. I see a good future.”
  <p>Thumping reggaeton, a blend of Caribbean rhythms and hip-hop, is everywhere, proof that despite the cliché, Cuba is not frozen in time. It just moves very slowly.
  <p>But there are signs of acceleration sparked by economic reforms undertaken by Raúl Castro after he stepped in for brother Fidel. Most Cubans are now allowed to travel, buy and sell property, and start small businesses.
  <p>In a town where it was famously difficult to get a nice meal, there are now more than 500 restaurants, including Asian fusion and farm-to-table fare. Shopping centers have sprouted in busy areas, giving some corners a sense of budding prosperity.

  <div class="sidestory">
    <div class="read-more"><i class="caret fa fa-caret-right" aria-hidden="true"></i> More about shopping center</div>
    <%= t.include("./_shoppingcenter.html") %>
  </div>

  <p>Where the socialist state not long ago employed practically everyone, now Cubans are allowed to work at a couple of hundred types of jobs on their own.
  <p>Some of these jobs are absurdly specific, such as fortune reader or button wrapper (yes, somebody who wraps buttons in fabric). But driving instructors and electricians are part of the list. It’s an acknowledgment by the revolution that its Soviet-era plans for a controlled economy are not attainable.
  <p>Most Cubans are still bound to government jobs. But the government, aware that egalitarianism was not the right spur, has introduced incentive pay in some areas.</p>


  <aside class="caption">Manager Hosmay González, 33, left, and Pedro Basulto, 37, a store clerk, sell eggs to a woman according to her ration card at a corner market in Centro Habana.</aside>

  <p><img src="./assets/mainbar/Cuba_Mainbar_InlineOptions_002.jpg">

      
  <p>Hosmay González, a former lab technician who runs a state-owned meat market in Central Havana, says his $16 monthly salary can triple if he exceeds his sales quota. “We want not only Cuba’s economy to improve, but for the population to benefit,” he says.
  <p>Cuba’s old cosmopolitanism flourishes, too. The Fábrica de Arte Cubano, a government-sponsored art and performance space, wouldn’t be out of place in Brooklyn or Los Angeles. A former industrial facility, it’s now brimming with the hip and the elegant.
  <p>Curiously, one of the many bars in the place offers Miller Lite, an unlikely piece of contemporary Americana here. Camila Pérez, a 25-year-old bartender, found it at a local store, likely brought in by one of the many “mules” who supply local restaurants with goods bought in Miami.
  <p>Pérez has her own story of separation. Her grandmother was a dissident journalist who fled for the U.S. in the 1990s, where Pérez’s father joined her. Pérez stayed in Cuba with her mom. Now living in Miami Beach, her father refuses to come back to Cuba, which he considers a hard-line dictatorship.
  <p>Pérez says it is not, and that things are opening up. “We’re going to have access to what everybody else has,” she says. “It’s all about not getting angry at each other.”

  <%= t.include("_galleryTemplate.html", {
    title: "Fabrica Gallery",
    chatter: "Chatter",
    keyword: "fabrica"
  }) %>

  <div class="divider"></div>
  <div class="subhed">Cracks in the ice</div>

  <p>The fortress of San Carlos de la Cabaña, which overlooks Havana’s harbor, has a dark reputation. It was long a dungeon for political prisoners, where opponents of the revolution met death by firing squad. My uncle Carmelo González del Castillo spent time here in 1962 for plotting against Castro.
  <p>Now throngs of Cuban and foreign tourists come to see the nightly firing of the fortress’ cannon. The Adonia, which in May was the first U.S. cruise ship to touch Cuban ports in more than a half-century, has just sailed out of the harbor.
  <p>The ship is a portent of the expected arrival of mainstream U.S. tourists, a potential money gusher.
  <p>But that bounty may not come in time to save Cuba from a painful economic reckoning.
  <p>A big part of the reason Cuba was able to rebound from the Special Period is a 16-year-old deal in which Venezuela provides cheap oil in exchange for Cuban doctors and other technicians. It’s been like a Soviet subsidy redux.

  <aside class="caption">The Christ of Havana statue overlooks the flare stack of the Nico López oil refinery in Cuba. </aside>

  <p><img src="./assets/mainbar/Cuba_Mainbar_InlineOptions_006.jpg">


  <p>That lifeline is threatened by Venezuela’s ongoing collapse, the result of the oil-rich country’s attempt at Cuban-style socialism.
  <p>“Cuba has very few options if net deliveries by (Venezuelan oil company) PDVSA fail to materialize,” says Jorge Piñon, a Cuba energy expert at the University of Texas.
  <p>Already the Cuban government has mandated cuts in fuel and power consumption, sparking fears of a new Special Period.
  <p>There’s also the question of whether freer markets will lead to democracy.
  <p>Cubans seem looser with their complaints than 15 years ago, even to foreign journalists. Iván Montenegro, 67, a former laboratory employee who in retirement can barely make ends meet, says he is disappointed with the revolution. “They exploited me,” he says.
  <p>But the government keeps a tight rein on dissidents and a monopoly on media. 14ymedio, a news site run by government critic Yoani Sánchez, can’t be accessed from public Wi-Fi hot spots, even though Spain’s El País and The Wall Street Journal can.
  <p>A TV cameraman I spoke to said that while there’s more room on newscasts to report on what people are talking about on the streets, some subjects remain taboo, such as a rise in vagrancy. “What seems like a great victory is instead a great defeat,” he said, referring to the reforms.
  <p>Raúl Castro, who is now 85, says he will hand power to a new generation in 2018. But few expect Cuba’s one-party state to change much.
  <p>Gregory Biniowsky is a Havana-based lawyer for Gowling WLG, a global law firm. He helps foreigners navigate investment opportunities here.</p>

<img src="./assets/mainbar/Cuba_Mainbar_Havana_020.jpg">

  <p class="caption">Men deliver goods to market by bike in Havana &mdash; a common sight due to the high price of cars.</p>

  <p>Biniowsky, a thoroughly Cubanized Canadian from British Columbia who has lived here on and off since the Special Period, says the government envisions reforms that would make citizens more prosperous, but economic objectives remain subject to political ones.
  <p>“They want their system to survive,” Biniowsky says. “They want an economy where social equality plays a big role.”
  <p>More than a surrender, the state’s <em>aggiornamento</em> is an overdue adaptation to a world where Cuba has no more patrons.

  <div class="sidestory">
    <div class="read-more"><i class="caret fa fa-caret-right" aria-hidden="true"></i> More about reforms</div>
    <%= t.include("./_reforms.html") %>
  </div>

  <p>Idania del Río, the well-traveled owner of Clandestina, a design store in old Havana that sells irreverent prints and clothing, says Cuba has transitioned from a place where people “have been cooking in their own stew” to a more open society.
  <p>Many young people right now prioritize making money.
  <p>“Lots of people don’t care about politics, they’re more focused on achieving their own goals,” del Río says.
</section>

<img style="width: 49%" src="./assets/mainbar/Cuba_Mainbar_Havana_023.jpg">
<img style="width: 49%" src="./assets/mainbar/Cuba_Mainbar_Havana_012.jpg">

<section>
  <p class="caption">Left: Taxis cruise down the Malecón on a steamy late afternoon in Havana. Right: The view of Havana from the Fortaleza de San Carlos de la Cabaña, with El Capitolio in the center, in Cuba.</p>

  <p>Money is all the more important as inequality is on the rise. While taxi drivers and others working in tourism can make hundreds, if not a thousand dollars a month, Cuba’s average monthly salary is about $24. “I take home every night more than a doctor makes in a month,” boasts a young employee at a fancy bistro in old Havana.
  <p>There are certainly more things to buy in Cuba than a decade ago. But only those with access to hard currency from family remittances, their own business or a tourism job can buy them.
  <p>The situation is pushing 79-year-old Amor Ortiz into entrepreneurship. The retired tourist guide’s pension amounts to $9 per month, so she wants to sell her grand apartment in central Havana to buy two smaller homes: one for her family, and one that she’ll run as a guesthouse.

  <div class="sidestory">
    <div class="read-more"><i class="caret fa fa-caret-right" aria-hidden="true"></i> More about salaries</div>
    <%= t.include("_salaries.html") %>
  </div>

  <p>University students, who under the old rules would have been relatively privileged upon graduation, now face stark choices.
  <p>Engineers and doctors, if they’re to practice their professions, look forward to paltry state salaries (a doctor can make about $60 a month).
  <p>“Here only business people have a future,” says a pharmacy student at the University of Havana, who added that she’ll emigrate as soon as she gets her degree.

  <%= t.include("_galleryTemplate.html", {
    title: "Camaguey Gallery",
    chatter: "Chatter",
    keyword: "camaguey"
  }) %>

  <div class="divider"></div>
  <div class="subhed">Navigating the maze</div>

  <p><em>Abuelito</em> was born in Camagüey, a town of 300,000, Cuba’s third-largest city. It was founded in the early 16th century by his ancestors, ruthless captains of the Spanish conquest who begat a clannish aristocracy that grew rich on cattle and sugar.
  <p>Many old families lost it all fighting for Cuba’s independence. Their crumbling crypts dominate Camagüey’s sun-baked general cemetery. My uncle Carmelo, who embraced the revolution after being released from prison, lies here, among his folk.
  <p>The last time I came to see Carmelo’s grave, in 2001, I was tailed by state security for asking too many questions about my uncle’s ups and downs with the regime. Camagüey’s warren of streets, which locals say were laid out to confuse pirates, felt to me like an asphyxiating, decaying maze.
  </section>

  <img style="width: 49%" src="./assets/mainbar/Cuba_Mainbar_Camaguey_003.jpg">
  <img style="width: 49%" src="./assets/mainbar/Cuba_Mainbar_Camaguey_005.jpg">

  <section>
  <p class="caption">Left: A family holds their littlest up to get a better view of a live band playing during San Juan Camagüeyano, an annual summer festival in Camagüey, Cuba. Right: A taxi driver behind the wheel of a classic Pontiac Silver Streak in Camagüey, Cuba.</p>

  <p>Now nearly every building in the ancient downtown seems to have a new coat of paint, with soot and moss giving way to bright blue, turquoise and orange. The city was declared a UNESCO World Heritage site in 2008, the year Raúl Castro began the economic reforms. During my visit thousands filled the streets at night to celebrate the feast of Saint John, a major holiday.
  <p>Commerce has seen a renaissance, too. A furniture store confiscated by the revolution from my great-uncle, and later abandoned, is now reborn as a busy government-run emporium. A Korean LCD TV sold there for about $400, topping the average yearly wage.
  <p>Across the city, shops display foreign brands. I run into a swank lounge with reddish lighting and a French name: “Mélangé.”
  <p>“Don’t you see how pretty Camagüey has become?” asks my cousin Livita Castillo, whom I surprise with my visit.

  <%= t.include("_galleryTemplate.html", {
    title: "Family Gallery",
    chatter: "Chatter",
    keyword: "family"
  }) %>

  <p>But Camagüey is still a hard place to make a living, as the tourists fueling Havana’s vibrancy are rare.
  <p>The Special Period has left enduring wounds. Horse-drawn carriages, which became popular when the Soviet oil supply dried up, remain a common mode of transportation.
  <p>Here many of the self-employed work out of desperation rather than ambition. They are often former state workers or current state workers seeking to make ends meet.
  <p>“I don’t have any hope. I worked a lot for the system. I cut a lot of sugar cane, thinking that I could live with my pension,” says Félix Brugos Díaz, a 68-year-old who complements his $10 monthly retirement with the $20 to $25 he makes from selling plastic clothespins at the train station, along with a dozen other hawkers.

  <div class="divider"></div>
  <div class="subhed">A glimpse of the future</div>

  <p>San Juan de Dios square is perhaps Camagüey’s most beautiful, a window into an elegant if blood-soaked past. In 1873 Spaniards brought here the corpse of Ignacio Agramonte, the city’s most famous patriot. <em>Abuelito</em>’s sister, Ángela, took a lock of hair from the body to Agramonte’s widow in New York.
  <p>The square now houses 1800, a privately owned restaurant that showcases how big bets can squeeze through what remains a partial opening.
  <p>Owner Edel Izquierdo, 44, is the son of a retired lieutenant colonel of the Ministry of the Interior, Cuba’s feared internal security forces.
  <p>Izquierdo never thought about leaving during the Special Period. Fluent in English, he landed a bartending job, which led to other roles in tourism.</p>

<img src="./assets/mainbar/Cuba_Mainbar_InlineOptions_008.jpg">

  <p class="caption">Efraín Izquierdo, 90, stands in Restaurante 1800, his family's gleaming and successful paladar, or privately-owned restaurant, in Camagüey, Cuba. The Izquierdos sold property and got a loan to transform the building into a restaurant, and after opening in 2012, are planning to expand.</p>

  <p>He knew the picturesque colonial mansion his father lived in was a good location for a restaurant. In 2012, after the government allowed Cubans to sell real estate for the first time in decades, he took the plunge.
  <p>Izquierdo had scrounged $20,000 from his career in tourism; he sold his own house for $40,000 and borrowed $30,000 from a friend because he couldn’t get a bank loan.
  <p>It was a bold move, but it worked out. On a June night 1800 was packed while a neighboring state-run restaurant stood empty.

  <div class="sidestory">
    <div class="read-more"><i class="caret fa fa-caret-right" aria-hidden="true"></i> More about restaurants</div>
    <%= t.include("./_restaurants.html") %>
  </div>

  <p>In 2013 Izquierdo bought the adjacent property and last year another house up the street, where he’s opening a tapas bar.
  <p>Izquierdo doesn’t pooh-pooh the revolution. He likes its legacy of egalitarianism and safety, a state that aims to take care of basic needs.
  <p>I wonder if the revolution’s appeal will fade when its elderly authors are out of the picture, their famed defiance made irrelevant by peace with the U.S.
  <p>Then I think about the French Revolution of 1789, which spilled a lot of blood. Its lofty principles of freedom, fraternity and equality are core to modern France. So is the bellicose, revolutionary-era <em>Marseillaise</em>.
  <p>Will 1959 have a similar half-life here, Che Guevara in tow?
  <p>Izquierdo feels the latest changes are irreversible, and deeper restructuring will in time solve Cubans’ economic problems.
  <p>Further reform isn’t likely while 90-year old Fidel Castro, the one-time rebel who broke with Cuba’s capitalist past, is alive, he says.
  <p>“Maybe,” Izquierdo says, “it’s a matter of respect for tradition, for history.”

  <%= t.include("./_contact.html") %>

</section>

   <script src="//cdn.livefyre.com/Livefyre.js"></script>
    <div style="max-width: 660px" id="livefyre-app-custom-1474314562790"></div>
    <!-- Scripts -->
    <script>
    (function() {
      Livefyre.require(['fyre.conv#3'], function(Conv) {
        new Conv({
          network: 'seattletimes.fyre.co'
          
          }, [{
            app: 'main',
            siteId: '316317',
            articleId: 'custom-1474314562790',
            el: 'livefyre-app-custom-1474314562790',
            
          }], function (widget) {
            // Initialize or Auth
          });
      });
    }());
  </script>



