<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700i" rel="stylesheet">
    <script src="https://use.fontawesome.com/bd870dfa49.js"></script>
    <%= t.include("partials/_head.html") %>
  </head>
  <body>
    <%= t.include("./partials/_nav.html") %>

    <div class="outmost">

    <div class="story-container" id="family">

      <section>
        
        <div class="header">
          <div class="img-title"><img src="./assets/cuba-title.svg"></div>
          <div class="chatter">
            <strong>Part One</strong>
            <div class="story-hed">Searching for Cuba’s future in the home of my ancestors</div>
            As the U.S. starts mending ties with Cuba, Seattle Times reporter Ángel González finds the island country is regaining some capitalist bustle thanks to reforms slowly doled out by its socialist government. Some restaurant owners and other small entrepreneurs are prospering, but most workers still struggle on an average salary of $24 a month. The big payoff, many hope, will come with the influx of U.S. tourists.
          </div>
        </div>

      </section>

          <img alt="photo" src="./assets/mainbar/Cuba_Mainbar_InlineOptions_001.jpg">

      <section>

        <div class="padded caption">Classic cars and bicitaxis, similar to pedicabs, sputter through the streets of Centro Habana in the early morning hours.</div>

        <div class="byline">
          <a href="#about">
            <strong>Story by Ángel González<br> Photos by Bettina Hansen</strong><br>
            <em>Seattle Times staff</em>
          </a>
        </div>

      </section>

      <%= t.include("./_mainbar.html") %>


      <div class="ad-bottom"><%= t.include("partials/_ad.html", { type: "bannerBottom" }) %></div>
    </div>

    <div class="full divider"></div>

    <div class="story-container" id="technology">

      <section>
        
        <div class="header">
          <div class="img-title"><img src="./assets/cuba-title.svg"></div>
          <div class="chatter">
            <strong>Part Two</strong>
            <div class="story-hed">Ingenious life hacks link Cuba to the outside world</div>
            Internet connections are scarce and pricey in Cuba, but they make life less isolated.  For some savvy entrepreneurs who’ve found a way around the government’s strict controls, renting Wi-Fi connections is a way to make a living.
          </div>
        </div>

      </section>

        <img alt="photo" src="./assets/internet/CubaDay2_Internet_1.jpg">

      <section>

        <div class="padded caption">A family in Camagüey uses a Wi-Fi hotspot in a public plaza to let a baby girl talk with her father.</div>

      </section>

      <%= t.include("./_internet.html") %>

      
      <div class="ad-bottom"><%= t.include("partials/_ad.html", { type: "bannerBottom" }) %></div>
    </div>

    <div class="full divider"></div>

    <div class="story-container" id="health">
      <section>
        <div class="header">
          <div class="img-title"><img src="./assets/cuba-title.svg"></div>
          <div class="chatter">
            <strong>Part Three</strong>
            <div class="story-hed">U.S. students get free ride in Cuban medical school</div>
            Cuba’s renowned health-care system, which flourishes despite the country’s poverty, still has lessons to teach the world, experts say. Hundreds of U.S. students have attended medical school tuition-free in Cuba, including a UW grad who plans on returning home to practice in underserved communities in Kitsap County.
          </div>
        </div>

      </section>

        <img alt="photo" src="./assets/health/Cuba_0758_MedStudent.jpg">

      <section>

        <div class="padded caption">Sol Bockelie, a medical student at the Latin American School of Medicine in Cuba, walks in Playa Baracoa, the beach town where he lives while attending school. Bockelie, 30, who attended University of Washington, is from Bremerton.</div>

      </section>

      <%= t.include("./_healthcare.html") %>

      <div class="ad-bottom"><%= t.include("partials/_ad.html", { type: "bannerBottom" }) %></div>

       <section><%= t.include("./partials/_comments.html", {article: "custom-1474314867177"}) %></section>


    </div>

    <div class="full divider" id="about"></div>

    <section>
      <div class="about-journalists">
        <p class="sidebar-hed"><strong>About the journalists</strong></p>

        <div class="inner">
          <div class="author">
            <img src="./assets/selfie.jpg">
            <div class="photo-cred">Ángel González / The Seattle Times</div>
          </div>

          <div class="padded author">
            <strong>Ángel González</strong> is a business reporter at The Seattle Times, where he covers Amazon.com. A graduate of the University of Paris 2, he went to journalism school at University of California, Berkeley. He’s a former bureau chief of Dow Jones in Houston. Born in Caracas, Venezuela, he was raised with his Cuban grandmother’s family stories of pirates, poets and liberators. Phone: 206-464-2250. Twitter: @gonzalezseattle. Email: agonzalez@seattletimes.com.
          </div>

          <div class="padded author">
            <strong>Bettina Hansen</strong> has been a staff photographer at The Seattle Times since 2012. She is a native of Phoenix and attended journalism school at Arizona State University. She previously worked at the Hartford Courant in Connecticut. She covers a mix of sports, news and features and is always looking for a new community story. Twitter and Instagram: @bettinahansen. Email: bhansen@seattletimes.com.
          </div>
        </div>

        <p>Design: <strong>Frank Mina</strong>
        <br>Development: <strong>Audrey Carlsen</strong>
        <p><em>Originally published September 23, 2016.</em>
      </div>
    </section>

    <section class="thin-div">
      <div class="center">Don't Miss</div>
    </section>

    <section class="dont-miss">
      <div class="story">
        <div class="padded">
        <a href="http://www.seattletimes.com/business/amazon/amazon-takes-cowboy-tactics-to-wild-wild-east-of-india/">
          <img src="./assets/teaser1.jpg"></img>
        </a>
        <div class="small">Business</div>
        <a href="http://www.seattletimes.com/business/amazon/amazon-takes-cowboy-tactics-to-wild-wild-east-of-india/">
          <div>Amazon takes cowboy tactics to ‘wild, wild East’ of India</div>
        </a>
        </div>
      </div>
      <div class="story">
        <div class="padded">
        <a href="http://projects.seattletimes.com/2015/photos-of-the-year/">
          <img src="./assets/teaser3.jpg"></img>
        </a>
        <div class="small">Photo & Video</div>
        <a href="http://projects.seattletimes.com/2015/photos-of-the-year/">
          <div>2015 Pictures of the Year</div>
        </a>
        </div>
      </div>

      <div class="story">
        <div class="padded">
        <a href="http://old.seattletimes.com/flatpages/local/haiti-part-1-earthquake-five-years-later-anniversary.html">
          <img src="./assets/teaser2.jpg"></img>
        </a>
        <div class="small">Nation & World</div>
        <a href="http://old.seattletimes.com/flatpages/local/haiti-part-1-earthquake-five-years-later-anniversary.html">
          <div>Haiti: A shaky recovery</div>
        </a>
        </div>
      </div>
      
      <div class="story">
        <div class="padded">
        <a href="http://www.seattletimes.com/seattle-news/health/we-have-only-one-shot-the-hutchs-quest-to-wipe-out-aids-in-south-africa/">
          <img src="./assets/teaser4.jpg"></img>
        </a>
        <div class="small">Health</div>
        <a href="http://www.seattletimes.com/seattle-news/health/we-have-only-one-shot-the-hutchs-quest-to-wipe-out-aids-in-south-africa/">
          <div>‘We have only one shot’: Fred Hutch’s quest to wipe out AIDS in South Africa</div>
        </a>
        </div>
      </div>
    </section>

    <div class="copyright">Copyright 2016 The Seattle Times</div>

    <%= t.include("./partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
