<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <%= t.include("./partials/_nav.html") %>

    <img src="./assets/mainbar/Cuba_Mainbar_InlineOptions_001.jpg">

    <div class="hed">REDISCOVERING <br>CUBA</div>

    <section class="narrow">
      <div class="chatter">Seattle Times reporter Ángel González returned to the home of his ancestors for a glimpse of what Cuba is becoming as the U.S. ends its quarantine. He found a nation regaining some of its old capitalist bustle, even as it struggles with inequality and Marxist rigidity.</div>

      <div class="divider"></div>

      <div class="byline">
        By Ángel González<br>
        Seattle Times business reporter
      </div>
    </section>

    <%= t.include("./_mainbar.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
